MyTools/src/main/test/resources/configfiles/FIMS/FSSC/FIMSSynFsscBillService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.deppon.com/fims/inter/fssc/service/webservice/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ISynFsscBillService" targetNamespace="http://www.deppon.com/fims/inter/fssc/service/webservice/"
	xmlns:tns_domain="http://www.deppon.com/fims/inter/fssc/service/webservice/"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception">
	<wsdl:documentation>报账申请单信息同步接口</wsdl:documentation>
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.deppon.com/fims/inter/fssc/service/webservice/">
			<xsd:include schemaLocation="SynFsscBill.xsd" />
		</xsd:schema>
		<xsd:schema
			targetNamespace="http://www.deppon.com/fims/inter/fssc/service/webservice/">
			<xsd:include schemaLocation="SynFsscBillStatus.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommException">
		<wsdl:part name="CommException" element="tns_exception:commonExceptionInfo" />
	</wsdl:message>

	<!-- 报账单信息同步 -->
	<wsdl:message name="synFsscBillRequest">
		<wsdl:part name="request" element="tns_domain:synFsscBillRequest">
		</wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="synFsscBillResponse">
		<wsdl:part name="response" element="tns_domain:synFsscBillResponse">
		</wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>

	<!-- 报账单审批状态信息同步 -->
	<wsdl:message name="synFsscBillStatusRequest">
		<wsdl:part name="request" element="tns_domain:synFsscBillStatusRequest">
		</wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="synFsscBillStatusResponse">
		<wsdl:part name="response" element="tns_domain:synFsscBillStatusResponse">
		</wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>

	<wsdl:message name="synFsscBillFault">
		<wsdl:part name="CommException" element="tns_exception:commonExceptionInfo"></wsdl:part>
	</wsdl:message>


	<wsdl:portType name="ISynFsscBill">
		<wsdl:operation name="synFsscBill">
			<wsdl:documentation>报账单据信息同步接口</wsdl:documentation>
			<wsdl:input message="tns:synFsscBillRequest" />
			<wsdl:output message="tns:synFsscBillResponse" />
			<wsdl:fault name="CommException" message="tns:CommException" />
		</wsdl:operation>
		<wsdl:operation name="synFsscBillStatus">
			<wsdl:documentation>报账单审批状态同步接口</wsdl:documentation>
			<wsdl:input message="tns:synFsscBillStatusRequest" />
			<wsdl:output message="tns:synFsscBillStatusResponse" />
			<wsdl:fault name="CommException" message="tns:CommException" />
		</wsdl:operation>
	</wsdl:portType>


	<wsdl:binding name="ISynFsscBillServiceSoapBinding" type="tns:ISynFsscBill">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="synFsscBill">
			<soap:operation
				soapAction="http://www.deppon.com/fims/inter/fssc/service/webservice/SynFsscBillService/synFsscBill" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:synFsscBillRequest" />
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:synFsscBillResponse" />
				<soap:body use="literal" parts="response" />
			</wsdl:output>
			<wsdl:fault name="CommException">
				<soap:fault use="literal" name="CommException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="synFsscBillStatus">
			<soap:operation
				soapAction="http://www.deppon.com/fims/inter/fssc/service/webservice/SynFsscBillService/synFsscBillStatus" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:synFsscBillStatusRequest" />
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:synFsscBillStatusResponse" />
				<soap:body use="literal" parts="response" />
			</wsdl:output>
			<wsdl:fault name="CommException">
				<soap:fault use="literal" name="CommException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	
	<wsdl:service name="ISynFsscBillService">
		<wsdl:port binding="tns:ISynFsscBillServiceSoapBinding"
			name="ISynFsscBillServicePort">
			<soap:address
				location="http://www.deppon.com/fims/inter/fssc/service/webservice/SynFsscBillService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>