MyTools/src/main/test/resources/configfiles/FIMS/FSSC/FIMSSynFsscBillStatusService.wsdl.bak

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.deppon.com/fims/inter/fssc/service/webservice/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ISynFsscBillStatusService" targetNamespace="http://www.deppon.com/fims/inter/fssc/service/webservice/"
	xmlns:tns_domain="http://www.deppon.com/fims/inter/fssc/service/webservice/"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception">
	<wsdl:documentation>报账申请单审批状态同步接口</wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/fims/inter/fssc/service/webservice/">
			<xsd:include schemaLocation="SynFsscBillStatus.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommException">
		<wsdl:part name="CommException" element="tns_exception:commonExceptionInfo" />
	</wsdl:message>


	<wsdl:message name="synFsscBillStatusRequest">
		<wsdl:part name="request" element="tns_domain:synFsscBillStatusRequest">
		</wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="synFsscBillStatusResponse">
		<wsdl:part name="response" element="tns_domain:synFsscBillStatusResponse">
		</wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="synFsscBillStatusFault">
		<wsdl:part name="CommException" element="tns_exception:commonExceptionInfo"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ISynFsscBillStatus">
		<wsdl:documentation>车辆差错信息同步接口</wsdl:documentation>
		<wsdl:operation name="synFsscBillStatus">
			<wsdl:input message="tns:synFsscBillStatusRequest"/>
			<wsdl:output message="tns:synFsscBillStatusResponse" />
			<wsdl:fault name="CommException" message="tns:CommException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ISynFsscBillStatusServiceSoapBinding" type="tns:ISynFsscBillStatus">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="synFsscBillStatus">
			<soap:operation
				soapAction="http://www.deppon.com/fims/inter/fssc/service/webservice/SynFsscBillStatusService" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:synFsscBillStatusRequest" />
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:synFsscBillStatusResponse" />
				<soap:body use="literal" parts="response" />
			</wsdl:output>
			<wsdl:fault name="CommException">
				<soap:fault use="literal" name="CommException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ISynFsscBillStatusService">
		<wsdl:port binding="tns:ISynFsscBillStatusServiceSoapBinding" name="ISynFsscBillStatusServicePort">
			<soap:address location="http://www.deppon.com/fims/inter/fssc/service/webservice/SynFsscBillStatusService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>